//bg
$colorBgPrimary:#E4E4E4;
$colorBgOnPrimary:#FEFEFE;

//text
$colorTextPrimary:#000000;

// buttons
$colorBtnDelete:#D15400;
$colorBtnEdit:#2981BB;

// colors
$colorPrimary:#F2F0F1;
$colorOnPrimary:#BDC2C8;
$colorSecondary:#EAEAEA;
