@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
html {
  font-size: 62.5%; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none; }

body {
  background-color: #E4E4E4;
  font-family: 'Roboto', sans-serif;
  position: relative;
  overflow: hidden; }

.container {
  width: 96vw;
  height: 96vh;
  margin: 1rem auto;
  background-color: #FEFEFE;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.btn {
  border-radius: 1rem;
  padding: 1.2rem 1.8rem;
  cursor: pointer;
  font-size: 1.6rem;
  transition: color 1s ease;
  text-transform: capitalize;
  font-weight: 600; }

.btn:hover {
  color: #F2F0F1; }

.notification {
  background-color: #E95F55;
  width: 30rem;
  margin: 0 auto;
  position: fixed;
  height: 10rem;
  bottom: -10rem;
  left: calc(50% - 10rem);
  border-radius: 1rem;
  display: flex;
  justify-content: center; }
  .notification__open {
    transition: top .5s;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: absolute;
    top: 0rem;
    transition: top .3s .7s;
    width: 0;
    z-index: 6;
    height: 0;
    border-style: solid;
    border-width: 0 15rem 8rem 15rem;
    border-color: transparent transparent #E95F55 transparent; }
  .notification__close {
    z-index: 5;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8rem 15rem 0 15rem;
    border-color: #E95F55 transparent transparent transparent; }
  .notification__left {
    border-top-left-radius: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    z-index: 999;
    height: 0;
    border-style: solid;
    border-width: 10rem 0 0 20rem;
    border-color: transparent transparent transparent #6b5756; }
  .notification__right {
    border-top-right-radius: 1rem;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    z-index: 999;
    right: 0;
    border-style: solid;
    border-width: 0 0 10rem 20rem;
    border-color: transparent transparent #6b5756 transparent; }
  .notification__message {
    width: 90%;
    color: #EAEAEA;
    text-align: center;
    padding: .8rem 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    position: relative;
    bottom: -2rem;
    z-index: 99;
    transition: opacity .5s 1s, bottom .4s .9s;
    opacity: 0;
    border-radius: 1rem;
    background-color: #BDC2C8; }

.opening {
  top: -7.4rem;
  transition: top .6s .4s; }

.notification__opening {
  bottom: 5rem;
  transition: bottom .7s .5s; }

.message__opening {
  transition: opacity .5s .3s, bottom .3s .9s;
  bottom: 9rem;
  z-index: 10;
  opacity: 1; }

.insert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.8rem;
  padding: 2rem;
  border-radius: 1rem;
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.5rem 1.5rem; }
  .insert input {
    background-color: #EAEAEA;
    border-radius: 1rem;
    padding: 1rem;
    width: 30rem;
    margin: .2rem 0; }
    .insert input:last-child {
      margin-top: 2rem;
      width: 8rem;
      align-self: center;
      background-color: #D15400;
      margin: 2 auto;
      cursor: pointer; }

.list {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #E4E4E4;
  border-spacing: 0rem;
  text-transform: capitalize; }
  .list caption {
    font-size: 3rem;
    font-weight: 900;
    padding: 1rem; }
  .list th {
    background-color: #BDC2C8;
    font-size: 1.8rem;
    margin: 1rem;
    padding: 1rem; }
    .list th:first-child {
      border-radius: 1rem 0 0 1rem; }
    .list th:last-child {
      border-radius: 0 1rem 1rem 0; }
  .list td {
    font-size: 1.8rem;
    padding: 1.4rem 2.8rem; }
    .list td .delete {
      background-color: #D15400; }
    .list td .edit {
      background-color: #2981BB; }
